# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
# Uncomment this line if you are using Windows
# windows/

# MacOS
.DS_Store

# VS Code
.vscode/
.idea/
*.iml

# Flutter specific
.flutter/
